@import url('//fonts.googleapis.com/css?family=Oswald');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
/*---------- GENERAL ------------*/

body {
  background-color: black !important;
  font-family: Oswald !important;
  color: white !important;
}

/* body::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  min-width: 100% !important;
  opacity: .2;
  z-index: -2;
  background-repeat: no-repeat;
  background-image: url('https://i.postimg.cc/kGy6GJrG/Line-Pattern.png') !important;
  background: #000;
  background-size: cover;
} */

/* body::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background-repeat: no-repeat;
  background-image: linear-gradient(to right, #ffffff00 70%, #000) !important;
  background-size: cover;
} */

p {
  font-family: 'Roboto', sans-serif;
  color: rgb(199, 199, 199);
  font-size: 2em;
  font-weight: 100;
}

.parallax {
  perspective: 1px;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
}
.parallax__layer {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.parallax__layer--base {
  transform: translateZ(0);
}
.parallax__layer--back {
  transform: translateZ(-4px) scale(5);
  background-image: url('https://i.postimg.cc/kGy6GJrG/Line-Pattern.png') !important;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.5;
}

.parallax__layer--back::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background-repeat: no-repeat;
  background-image: linear-gradient(to bottom, #ffffff00 70%, #000) !important;
  background-size: cover;
}

.section {
  min-height: 100vh;
}

.section:last-child {
  min-height: 600px !important;
}

@media only screen and (max-width: 500px) {
  body {
    max-width: 90% !important;
    display: block !important;
    margin: auto !important;
  }
  *:not(.contact-box span, .footer), ::after, ::before {
    box-sizing: content-box !important;
    min-width: 90% !important;
  }
  .about-box {
    padding: 0 !important;
  }
  .img-stack {
    min-height: 100px;
    min-width: 150px !important;
    display: block;
    margin: auto;
  }
  [class*="col-"] {
    width: 100%;
  }
  .second-half {
    display: block;
  }
  h1, p, .single-skill, button, .col, .row, .section {
    text-align: center;
    margin: auto !important;
    display: block;
  }
  .about-box::before {
    display: none !important;
  }
  .skills-box .m-5 {
    margin: 0 !important;
    margin-top: 3em !important;
    margin-bottom: 3em !important;
  }
  .contact-box span i {
    min-width: 100% !important;
    transform: scale(1.5);
  }
  .contact-box {
    padding: 1em !important
  }
}

/*---------- NAVBAR ------------*/

.navtop {
  padding: 3em;
}

.navtop h3 {
  letter-spacing: 4px;
  font-size: 2.5em;
}

i.fal.fa-bars {
  font-size: 2em;
  transform: scaleX(1.3);
}

i:hover {
  cursor: pointer;
}

.align-text-top {
  margin-right: 3px;
}

/*---------- HOME SECTION ------------*/

.home-box {
  margin-top: 10em;
}

.pic {
  margin-top: -250px;
  opacity: 0.9;
  width: 660px
}

.home-box::before {
  content: "";
  position: absolute;
  left: 55%;
  top: 10%;
  width: 50%;
  max-width: 600px;
  height: 550px;
  display: block;
  opacity: .87;
  z-index: -2;
  background-image: url('https://i.postimg.cc/RCkHdv1z/DSC029971-min.png');
  background-repeat: no-repeat;
  background-size: cover;
   border-radius: 105px;
}

.home-box::after {
  content: "";
  position: absolute;
  left: 55%;
  top: 10%;
  width: 50%;
  max-width: 600px;
  height: 550px;
  z-index: -1;
  background-image: linear-gradient(to top , #000000e8,  #10126805, #00000000, #00000000, #00000000, #00000000, #00000000, #00000000, #00000000, #00000000);
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 75px;
}

.pic2 {
  margin-top: -150px;
  margin-left: -36%;
  height: 700px;
  opacity: 0.8;
  border-radius: 1645px;
  z-index: -6;
  position: relative;
}

.first-half {
  font-size: 1.9em;
  margin-right: 0.3em;
}

.second-half {
  color: black;
  font-size: 1.9em;
  -webkit-text-stroke: 1px white;
}

button.btn {
  background-color: rgba(0, 0, 0, 0) !important;
  border: 0px !important;
  border-bottom: 1px solid rgba(184, 3, 190, 0.582) !important;
  /* border-image: linear-gradient(to bottom right, #EF0403, #2C30DB) !important;
  border-image-slice: 1 !important;  */
}

.button-text {
  font-family: 'Roboto', sans-serif;
  font-weight: 900;
  font-size: 1.2em;
  letter-spacing: 1px;
  background: linear-gradient(to bottom right, #EF0403, #2C30DB);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

/*---------- ABOUT SECTION ------------*/

.about-box {
  padding: 5em ;
  padding-top: 7em ;
}

/* .about-box::before {
  content: "";
  position: absolute;
  left: 20%;
  top: 110%;
  width: 50%;
  max-width: 600px;
  height: 500px;
  display: block;
  opacity: .7;
  z-index: -2;
  background-image: url('https://scontent.ftrn1-1.fna.fbcdn.net/v/t1.0-9/46202995_2032384686804609_2702589951756730368_n.jpg?_nc_cat=103&_nc_sid=85a577&_nc_ohc=ZsCZhKoQ7hoAX9ce-Ww&_nc_ht=scontent.ftrn1-1.fna&oh=fc9d0b0ca69b6bd097a8fea8601fd6e0&oe=5EDD02C7');
  background-repeat: no-repeat;
  background-size: cover;
}

.about-box::after {
  content: "";
  position: absolute;
  left: 20%;
  top: 110%;
  width: 50%;
  max-width: 600px;
  height: 500px;
  z-index: -1;
  background-image: radial-gradient(rgba(0, 0, 0, 0.158) 10%, rgba(0, 0, 0, 0.466), rgba(0, 0, 0, 0.671), rgba(0, 0, 0, 0.842), rgb(0, 0, 0) 70%);
  background-repeat: no-repeat;
  background-size: cover;
} */

.about-box p {
  padding-top: 2em;
  font-size: 1.5em !important;
  max-width: 550px;
  float: right;
  color: rgba(219, 219, 219, 0.637)
}

/*---------- STACKS SECTION ------------*/

.single-skill {
  max-width: 200px !important;
}

.img-stack {
  max-height: 100px;
  max-width: 200px;
  display: block;
  margin: auto;
}

/*---------- SHOWCASE SECTION ------------*/

.card {
  background-color: rgb(20, 20, 20) !important;
  max-width: 400px;
}

.card-text {
  text-align: left;
}

/*---------- CONTACT SECTION ------------*/

.contact-box {
  border: 1px solid #dddddd86;
  border-radius: 6px;
  padding: 2em;
  max-width: 500px;
  margin-top: 3em;
  font-family: 'Roboto', sans-serif !important;
}

.contact-box .fab, .contact-box .far {
  background: linear-gradient(to bottom right, #EF0403, #2C30DB);
  background-clip: text;
  -webkit-text-fill-color: transparent;
  padding: 0.6em;
}

.link-contact {
  background: linear-gradient(to bottom right, #EF0403, #2C30DB);
  background-clip: text;
  -webkit-text-fill-color: rgb(209, 209, 209);
}

/*---------- FOOTER SECTION ------------*/

.footer a {
  color: rgb(224, 224, 224) !important;
  text-align: center;
  background: linear-gradient(to bottom right, #EF0403, #2C30DB);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.footer {
  text-align: center;
  bottom: 0;
  position: fixed;
  width: 100%;
  padding: 2em;
  opacity: .3;
}

.footer:hover {
  opacity: 1;
}